

# REPORTE DESCRIPTIVO DE LA ENTIDAD

El reporte descriptivo de la entidad tiene como fin mostrar la realidad de la entidad en cuanto a sus datos y sus clusteres, por lo inmediato se plantea la siguiente estructura para que el lector (oficial de cumplimiento pueda leer toda la información aquí descrita)

### Asociados
- General
 - Tabla general
 
 - Numero operaciones crédito
 - Actividad economicas
 - 

- Clúster
 - Monto operaciones crédito-debito
 - Población por clúster 
 - Grafica clúster general (Bigotes)
 - Total, ingresos – Egresos
 -  Monto crédito – debito 
 - Patrimonio por clúster
 - Distribución ocupaciones
 - Estadística descriptiva x clúster

### Productos
-  Estadística resumen total
-  Estadística por clúster

# CONFIGURACION Y LECTURA

In [1]:
import pyodbc
import pandas as pd
import numpy as np
import os
import cufflinks as cf
%matplotlib inline
from plotly.offline import download_plotlyjs, init_notebook_mode,plot,iplot
import plotly.graph_objs as go

ModuleNotFoundError: No module named 'cufflinks'

In [ ]:
init_notebook_mode(connected=True)
cf.go_offline()

In [ ]:
#PATH FOLDER
cwd = os.getcwd() + '\\files'

#BUILD PATH
#Entidad 15 = Entidad X
#Entidad 23 = ColombiaCOOP
#Entidad 24 = Cultural Andino
#Entidad 25 = Fonbienestar
cwd=os.path.join(cwd,'0_TOTAL_AGREGADO_ID_23.xlsx')
MESES_TOMADOS=12
print(cwd)

In [62]:
asociados = pd.read_excel(cwd,index_col=0)

In [63]:
asociadosDes = asociados[['CLIEN_MontoTotalIngresoMensual','CLIEN_MontoEgresoMensual','CLIEN_TotalPatrimonio','total_debito','total_credito','cantidad_debito','cantidad_credito']]
pd.options.display.float_format = '{:.2f}'.format
#describe = asociadosDes.describe().astype(int)
describe = asociadosDes.describe()
describe # Datos en bruto

,CLIEN_MontoTotalIngresoMensual,CLIEN_MontoEgresoMensual,CLIEN_TotalPatrimonio,total_debito,total_credito,cantidad_debito,cantidad_credito
count,6231.00,6231.00,6231.00,6231.00,6231.00,6231.00,6231.00
mean,1814012.51,413431.58,35202707.88,1992256.33,3190660.71,8.62,1.50
std,2074158.72,894343.21,107290661.14,7627919.57,25756958.10,9.50,3.00
min,0.00,0.00,-170269368.00,0.00,0.00,0.00,0.00
25%,782000.00,0.00,25000.00,0.00,0.00,0.00,0.00
50%,1192000.00,200000.00,751006.00,400000.00,50000.00,6.00,1.00
75%,2000000.00,500000.00,10040482.50,1913500.00,2000000.00,16.00,2.00
max,38900000.00,24858833.00,2999705736.00,397929380.00,1661808000.00,130.00,58.00

## Resumen para Excel

Estadistica descriptiva de manera general

In [64]:
#OJO EJECUTAR SOLO UNA VEZ
asociadosDes['total_debito'] = asociados['total_debito'].apply(lambda x: x /MESES_TOMADOS)
asociadosDes['total_credito'] = asociados['total_credito'].apply(lambda x: x /MESES_TOMADOS)
asociadosDes['cantidad_credito'] = asociados['cantidad_credito'].apply(lambda x: x /MESES_TOMADOS)
asociadosDes['cantidad_debito'] = asociados['cantidad_debito'].apply(lambda x: x /MESES_TOMADOS)
asociadosDes['cluster'] = asociados['cluster_actual']

describe =asociadosDes.describe()
describe

,CLIEN_MontoTotalIngresoMensual,CLIEN_MontoEgresoMensual,CLIEN_TotalPatrimonio,total_debito,total_credito,cantidad_debito,cantidad_credito,cluster
count,6231.00,6231.00,6231.00,6231.00,6231.00,6231.00,6231.00,6231.00
mean,1814012.51,413431.58,35202707.88,166021.36,265888.39,0.72,0.12,0.42
std,2074158.72,894343.21,107290661.14,635659.96,2146413.18,0.79,0.25,1.09
min,0.00,0.00,-170269368.00,0.00,0.00,0.00,0.00,0.00
25%,782000.00,0.00,25000.00,0.00,0.00,0.00,0.00,0.00
50%,1192000.00,200000.00,751006.00,33333.33,4166.67,0.50,0.08,0.00
75%,2000000.00,500000.00,10040482.50,159458.33,166666.67,1.33,0.17,0.00
max,38900000.00,24858833.00,2999705736.00,33160781.67,138484000.00,10.83,4.83,6.00

# PROMEDIO ESTADISTICAS SEGUN EL MES

In [65]:

# Datos en promedio
describe=describe.reindex(['mean','std','min','max','25%','50%','75%'])
describe.rename(columns={'CLIEN_MontoTotalIngresoMensual':'Ingresos',
                  'CLIEN_MontoEgresoMensual':'Egresos',
                  'CLIEN_TotalPatrimonio': 'Patrimonio',
                  'total_debito' : 'Monto debito',
                  'total_credito' : 'Monto credito',
                  'cantidad_debito' : 'Cantidad debito',
                  'cantidad_credito' : 'Cantidad credito'
        },
        index={'mean':'Media',
               'std' : 'Desviación',
               'min' : 'Mínimo',
               'max' : 'Maximo',
               '25%' : 'Q1 (25%)',
               '50%' : 'Q2 (50%)',
               '75%' : 'Q3 (75%)'
               
            
        })

,Ingresos,Egresos,Patrimonio,Monto debito,Monto credito,Cantidad debito,Cantidad credito,cluster
Media,1814012.51,413431.58,35202707.88,166021.36,265888.39,0.72,0.12,0.42
Desviación,2074158.72,894343.21,107290661.14,635659.96,2146413.18,0.79,0.25,1.09
Mínimo,0.00,0.00,-170269368.00,0.00,0.00,0.00,0.00,0.00
Maximo,38900000.00,24858833.00,2999705736.00,33160781.67,138484000.00,10.83,4.83,6.00
Q1 (25%),782000.00,0.00,25000.00,0.00,0.00,0.00,0.00,0.00
Q2 (50%),1192000.00,200000.00,751006.00,33333.33,4166.67,0.50,0.08,0.00
Q3 (75%),2000000.00,500000.00,10040482.50,159458.33,166666.67,1.33,0.17,0.00

# Estadisticas por cluster 

Estadisticas segun el cluster.

In [66]:
grouped = asociadosDes.groupby('cluster')
#vector
vector  = list(range(0,len(grouped)))

#posicion del vector
posicion = 0
for name, group in grouped:
    vector[posicion] = group    
    posicion = posicion +1
    


vector[0].describe()

,CLIEN_MontoTotalIngresoMensual,CLIEN_MontoEgresoMensual,CLIEN_TotalPatrimonio,total_debito,total_credito,cantidad_debito,cantidad_credito,cluster
count,5059.00,5059.00,5059.00,5059.00,5059.00,5059.00,5059.00,5059.00
mean,1242669.96,215574.43,6713703.14,90268.17,96514.92,0.62,0.10,0.00
std,763912.54,298357.12,18763271.80,175587.72,243273.37,0.72,0.18,0.00
min,0.00,0.00,-40949243.00,0.00,0.00,0.00,0.00,0.00
25%,781242.00,0.00,23620.00,0.00,0.00,0.00,0.00,0.00
50%,1000000.00,0.00,357240.00,20000.00,194.75,0.33,0.08,0.00
75%,1511375.00,400000.00,4135517.50,118395.83,94569.71,1.08,0.17,0.00
max,4380000.00,2204000.00,150400000.00,2373586.83,5150028.75,5.67,4.83,0.00

In [67]:
vector[1].describe()

,CLIEN_MontoTotalIngresoMensual,CLIEN_MontoEgresoMensual,CLIEN_TotalPatrimonio,total_debito,total_credito,cantidad_debito,cantidad_credito,cluster
count,611.00,611.00,611.00,611.00,611.00,611.00,611.00,611.00
mean,2248440.10,964635.39,171822358.43,303409.22,551101.38,1.20,0.24,1.00
std,1092135.42,768885.10,87878770.23,420032.55,1074652.43,0.80,0.37,0.00
min,0.00,0.00,-612316.00,0.00,0.00,0.00,0.00,1.00
25%,1400000.00,500000.00,110177816.50,82833.33,27233.83,0.58,0.08,1.00
50%,2100000.00,800000.00,154569488.00,179166.67,251666.67,1.33,0.17,1.00
75%,3000000.00,1200000.00,212518108.00,384526.88,569750.00,1.67,0.25,1.00
max,6400000.00,5650000.00,496400000.00,5339951.67,13333333.33,5.25,4.08,1.00

In [68]:
vector[2].describe()

,CLIEN_MontoTotalIngresoMensual,CLIEN_MontoEgresoMensual,CLIEN_TotalPatrimonio,total_debito,total_credito,cantidad_debito,cantidad_credito,cluster
count,126.00,126.00,126.00,126.00,126.00,126.00,126.00,126.00
mean,5752043.23,2429357.02,492127226.83,674553.23,1603580.22,1.42,0.34,2.00
std,3428967.01,1617348.11,304196954.61,763874.41,2707909.92,0.89,0.53,0.00
min,700000.00,0.00,150175043.00,0.00,0.00,0.00,0.00,2.00
25%,3485900.00,1151808.50,302948091.50,149109.38,51188.88,0.75,0.08,2.00
50%,4950000.00,2040000.00,448150683.50,385609.75,657000.00,1.42,0.17,2.00
75%,7000000.00,3075000.00,569069029.25,831604.38,1756794.90,1.90,0.33,2.00
max,19300000.00,7000000.00,2999705736.00,3146750.00,15000000.00,4.17,3.17,2.00

In [69]:
vector[3].describe()

,CLIEN_MontoTotalIngresoMensual,CLIEN_MontoEgresoMensual,CLIEN_TotalPatrimonio,total_debito,total_credito,cantidad_debito,cantidad_credito,cluster
count,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00
mean,18000000.00,5000000.00,486571468.00,33160781.67,138484000.00,2.00,0.50,3.00
std,nan,nan,nan,nan,nan,nan,nan,nan
min,18000000.00,5000000.00,486571468.00,33160781.67,138484000.00,2.00,0.50,3.00
25%,18000000.00,5000000.00,486571468.00,33160781.67,138484000.00,2.00,0.50,3.00
50%,18000000.00,5000000.00,486571468.00,33160781.67,138484000.00,2.00,0.50,3.00
75%,18000000.00,5000000.00,486571468.00,33160781.67,138484000.00,2.00,0.50,3.00
max,18000000.00,5000000.00,486571468.00,33160781.67,138484000.00,2.00,0.50,3.00

In [70]:
vector[4].describe()

,CLIEN_MontoTotalIngresoMensual,CLIEN_MontoEgresoMensual,CLIEN_TotalPatrimonio,total_debito,total_credito,cantidad_debito,cantidad_credito,cluster
count,409.00,409.00,409.00,409.00,409.00,409.00,409.00,409.00
mean,6243975.40,950320.47,18314750.04,390305.48,497269.89,0.82,0.15,4.00
std,3238854.95,1158357.20,45526400.36,583208.00,1237175.55,0.85,0.33,0.00
min,2200000.00,0.00,-99499877.00,0.00,0.00,0.00,0.00,4.00
25%,4500000.00,0.00,0.00,2000.00,0.00,0.08,0.00,4.00
50%,5281242.00,500000.00,340190.00,153178.25,12333.33,0.58,0.08,4.00
75%,7000000.00,1700000.00,19201884.00,484577.25,416666.67,1.50,0.17,4.00
max,38900000.00,5800000.00,287540000.00,3873083.33,12083333.33,4.67,2.83,4.00

In [71]:
vector[5].describe()

,CLIEN_MontoTotalIngresoMensual,CLIEN_MontoEgresoMensual,CLIEN_TotalPatrimonio,total_debito,total_credito,cantidad_debito,cantidad_credito,cluster
count,8.00,8.00,8.00,8.00,8.00,8.00,8.00,8.00
mean,14630914.12,15026104.12,225982242.62,805702.33,1697582.44,1.84,0.54,5.00
std,7989576.68,4992832.53,251185214.74,836056.61,2055771.92,2.02,0.96,0.00
min,1200000.00,9750000.00,65326894.00,0.00,0.00,0.00,0.00,5.00
25%,12918375.25,11650000.00,81125000.00,16125.00,28459.12,0.15,0.06,5.00
50%,17000000.00,14375000.00,140274037.00,717750.00,912137.83,1.25,0.21,5.00
75%,17817109.50,16637500.00,217406028.75,1475596.29,2866192.92,3.10,0.38,5.00
max,25000000.00,24858833.00,817592268.00,1879833.33,5687000.00,4.92,2.83,5.00

In [72]:
vector[6].describe()

,CLIEN_MontoTotalIngresoMensual,CLIEN_MontoEgresoMensual,CLIEN_TotalPatrimonio,total_debito,total_credito,cantidad_debito,cantidad_credito,cluster
count,17.00,17.00,17.00,17.00,17.00,17.00,17.00,17.00
mean,13473944.94,4477647.06,506282051.71,6364372.65,16132910.99,2.79,0.93,6.00
std,8985790.18,2494354.95,620926828.00,3521050.32,11950110.98,2.51,1.11,0.00
min,4179000.00,0.00,-170269368.00,1420591.17,3000420.67,0.42,0.08,6.00
25%,7000000.00,3300000.00,230360529.00,4923250.50,9041697.17,1.17,0.17,6.00
50%,10326242.00,4100000.00,344468051.00,5722576.92,13862500.00,1.92,0.42,6.00
75%,19000000.00,5400000.00,503088802.00,6658543.67,20833333.33,3.50,1.50,6.00
max,38500000.00,9400000.00,2108935641.00,15542013.17,50635295.58,10.83,4.33,6.00

In [73]:
vector[7].describe()

IndexError: list index out of range

# ESTADISTICA DESCRIPTIVA (ENTIDAD)

## Poblamiento

Poblamiento de columnas de la entidad, resumen de como se encuentra la información

## Ocupacion

# OCUPACION 

Graficas PIE ocupacion

In [ ]:
# Crear la tabla
grouped = asociados.groupby('OCUPA_DescripcionGeneral')



#Inicializate data
#Vector size
variables = list(range(0,len(grouped)))
#array with variables
data=[]
#count for the position of the data
count = 0

#Si no se resetean cada vez que lo ejecuto se agregan
x=[]
y=[]

for name,group in grouped:    
    a = group
    a = a['OCUPA_DescripcionGeneral'].values
    a = a[0]
    x.append(a)  
    y.append(group['OCUPA_DescripcionGeneral'].count())
    
    



trace = go.Pie(
        labels=x,
        values=y,
        text=x,
        textposition="inside",
        #hole = .4,
        name = "Ocupaciones",
        textfont=dict(        
            size=16,
            color='#000000',
            
            
        ),
        marker=dict(
             
            line=dict(color='#000000', width=1))
        
        
        
        
        
                    
    )



data = [trace]
layout = go.Layout(
    
    title ='<b>Ocupaciones              <b>',
    
    
    
)

fig = go.Figure(
    data=data,
    layout=layout
) 

iplot(fig)

## Actividad economica
Grafica de barras

In [ ]:
# Crear la tabla


grouped = asociados.groupby('CIIU')



#Inicializate data
#Vector size
variables = list(range(0,len(grouped)))
#array with variables
data=[]
#count for the position of the data
count = 0

#Si no se resetean cada vez que lo ejecuto se agregan
x=[]
y=[]

for name,group in grouped:    
    a = group
    a = a['actividad_descripcion'].values
    a = a[1]
    x.append(a)  
    y.append(group['CIIU'].count())
    
    



trace = go.Bar(
        x=x,
        y=y,
        text=x,
        
        
    )



data = [trace]
layout = go.Layout(
    barmode='group',
    title = '<b>Actividades economicas<b>',
    yaxis = {
                'title':'<b>Cantidad de personas<b>',
            },
)

fig = go.Figure(
    data=data,
    layout=layout
) 

iplot(fig)

In [ ]:
asociados.head()

In [ ]:
# Crear la tabla
grouped = asociados.groupby('actividad_descripcion')



#Inicializate data
#Vector size
variables = list(range(0,len(grouped)))
#array with variables
data=[]
#count for the position of the data
count = 0

#Si no se resetean cada vez que lo ejecuto se agregan
x=[]
y=[]

for name,group in grouped:    
    a = group
    a = a['actividad_descripcion'].values
    a = a[0]
    x.append(a)  
    y.append(group['actividad_descripcion'].count())
    
    



trace = go.Pie(
        labels=x,
        values=y,
        text=x,
        #textposition="inside",
        #hole = .4,
        name = "Ocupaciones",
        textfont=dict(        
            size=16,
            color='#000000',
            
            
        ),
        marker=dict(
             
            line=dict(color='#000000', width=1))
        
        
        
        
        
                    
    )



data = [trace]
layout = go.Layout(
    
    title ='<b>Actividades Economicas           <b>',
    
    
    
)

fig = go.Figure(
    data=data,
    layout=layout
) 

iplot(fig)

In [ ]:
asociados.head()

## Variables cuantitativas

Poblamiento de las variables cuantitativas de la entidad, fijarse que monto debito y cantidad credito deben estar igualmente pobladas, al igual que las variables de credito

In [ ]:
# CALCULATE VARIABLES 
total = asociados['IDENTIFICACION'].count()

ingresos = asociados[asociados.CLIEN_MontoTotalIngresoMensual > 0]
ingresos = ingresos['IDENTIFICACION'].count()

egresos = asociados[asociados.CLIEN_MontoEgresoMensual > 0]
egresos = egresos['IDENTIFICACION'].count()

patrimonio = asociados[asociados.CLIEN_TotalPatrimonio > 0]
patrimonio = patrimonio['IDENTIFICACION'].count()

monto_debito = asociados[asociados.total_debito > 0]
monto_debito = monto_debito ['IDENTIFICACION'].count()

monto_credito = asociados[asociados.total_credito > 0]
monto_credito = monto_credito ['IDENTIFICACION'].count()


cantidad_debito = asociados[asociados.cantidad_debito > 0]
cantidad_debito = cantidad_debito ['IDENTIFICACION'].count()

cantidad_credito = asociados[asociados.cantidad_credito > 0]
cantidad_credito = cantidad_credito ['IDENTIFICACION'].count()

activos = asociados[asociados.CLIEN_TotalActivos > 0]
activos = activos ['IDENTIFICACION'].count()

pasivos = asociados[asociados.CLIEN_TotalPasivos > 0]
pasivos = pasivos ['IDENTIFICACION'].count()

#CALCULATE ARRAYS
y = []
i=0

#y = [ingresos,egresos, patrimonio, monto_debito, monto_credito, cantidad_debito, cantidad_credito]
#x = ['Ingresos','Egresos','Patrimonio','Monto Debito', 'Monto Credito', 'Cantidad Debito','Cantidad Credito']


y = [ingresos,egresos, patrimonio]
x = ['Ingresos','Egresos','Patrimonio']

z = []
#Faltantes
f = []

while i < len(y):
    z.append(str(int(y[i]/total*100))  + "%"    )    
    i = i+ 1

    
i=0

while i < len(y):
    f.append(total-y[i])    
    i = i+ 1


#BUILD CHARTS
longitud = len(y) #longitud en y de la grafica
trace = go.Bar(
        y=y,
        x=x,
        text=z,
        name = 'Completado',
        textposition = 'auto',
        textfont=dict(
        
        size=14,
        color='#0a0a0a',
        
    
        
        )
    )

trace2 = go.Bar(
        y=f,
        x=x,
        
        name = 'Faltante',
        textposition = 'auto',
        textfont=dict(        
            size=14,
            color='#d31508'
        ),
        marker=dict(
            color='rgb(249, 20, 4)',
            
        )
        
        
        
    )


data = [trace,trace2]

layout = {
    'barmode' : 'stack',
    #Rango x a y, ver shapes para hacer esto
    'title' :  '<b>Poblamiento por variable<b>',
    'xaxis' : {
        
     },
    'yaxis': {
        'range': [0, total+300],
        'title': '<b>Poblamiento<b>',
    },
    #SHAPES
    
    
}

fig = {
    'data': data,
    'layout': layout,
}

iplot(fig)

# CLUSTER

Graficas creadas para representar los clusteres de la entidad.

## Cluster por debito

Está grafica no es representativa de una clusterizacion real, se puede tomar como una grafica descriptiva de cada uno de los clusteres con respecto a una dimensión que es la de debito

In [ ]:
grouped = asociados.groupby('cluster_actual')
variables = list(range(0,len(grouped)))
data=[]
array = []
count = 0



for name,group in grouped:    
    
    variables[count] = go.Box(
        name = 'cluster ' + str(name),
        y= grouped.get_group(name)['total_debito'].values,
        
    )     
    data.append(variables[count])
    
    count=count+1

    
layout = go.Layout(
    title = "Clusteres por debito"
)

fig = go.Figure(
    data=data,
    layout=layout
)
fig
iplot(fig)

# ESTADISTICA DESCRIPTIVA

In [ ]:
# TODOS LOS DATOS


data=[]
array = []
count = 0



ingresos = go.Box(
        name = "Ingresos",
        y = asociados['CLIEN_MontoTotalIngresoMensual'].values,
    )

egresos = go.Box(
        name= "Egresos",
        y =  asociados['CLIEN_MontoEgresoMensual'].values,
    )

patrimonio = go.Box(
        name = "Patrimonio",
        y =  asociados['CLIEN_TotalPatrimonio'].values,
    )

monto_debito = go.Box(
        name = "Monto Debito",
        y =  asociados['total_debito'].values,
    )
    
monto_credito = go.Box(
        name = "Monto Credito",
        y =  asociados['total_credito'].values,
    )

data = [ingresos, egresos,patrimonio,monto_debito,monto_credito]
layout = go.Layout(
    title = "Caja y bigotes por variable"
)

fig = go.Figure(
    data=data,
    layout=layout
)
fig
iplot(fig)
#data

In [ ]:
# TODOS LOS DATOS


data=[]
array = []
count = 0



cantidad_debito = go.Box(
        name = "Cantidad debito",
        y = asociados['cantidad_debito'].values,
    )

cantidad_credito = go.Box(
        name = "Cantidad Credito",
        y = asociados['cantidad_credito'].values,
    )




data = [cantidad_debito,cantidad_credito]
layout = go.Layout(
    title = "Caja y bigotes cantidad transacciones"
)

fig = go.Figure(
    data=data,
    layout=layout
)
fig
iplot(fig)
#data

In [ ]:
describe

# TEST CODE

In [ ]:
#ASIGNACIONES
ingresomensual = describe['CLIEN_MontoTotalIngresoMensual']
egresomensual = describe['CLIEN_MontoEgresoMensual']
patrimonio = describe['CLIEN_TotalPatrimonio']

#DOS DECIMALES
ingresomensual= np.round(ingresomensual,decimals=2)
egresomensual= np.round(egresomensual,decimals=2)
patrimonio = np.round(patrimonio,decimals=2)

#CREAR DATAFRAME (TABLA CON INGRESOS, EGRESOS Y PATRIMONIO)
data = pd.DataFrame()
data['Columnas'] = ['Media','Desviación','Minimo','Maximo', 'Q1 (25%)','Q2 (50%)', 'Q3 (75%)']
data['Ingreso'] = ingresomensual.values
data['Egreso'] = egresomensual.values
data['patrimonio'] = patrimonio.values
data= data.values.tolist()

data.insert(0,['','Ingresos','Egresos','Patrimonio'])
data



################################## TRANSACCIONES #############################################
#ASIGNACIONES
monto_debito = describe['total_debito']
monto_credito = describe['total_credito']
cantidad_debito = describe['cantidad_debito']
cantidad_credito = describe['cantidad_credito']

#DOS DECIMALES
monto_debito = np.round(monto_debito, decimals=2)
monto_credito = np.round(monto_credito, decimals=2)
cantidad_debito  = cantidad_debito.astype(int)
cantidad_credito = cantidad_credito.astype(int)

#CREAR DATAFRAME

data2 = pd.DataFrame()
data2['Columnas'] = ['Media','Desviación','Minimo','Maximo', 'Q1 (25%)','Q2 (50%)', 'Q3 (75%)']
data2['montoDebito'] = monto_debito.values
data2['montoCredito'] = monto_credito.values
data2['cantidadDebito'] = cantidad_debito.values
data2['cantidadCredito'] = cantidad_credito.values
data2= data2.values.tolist()

data2.insert(0,['','Monto debito','Monto Credito','Cantidad debito','Cantidad crédito'])
data2

# REPORTES (REPORTLAB)

In [ ]:
# -*- coding: utf-8 -*-
from reportlab.lib import colors
from reportlab.lib.enums import TA_JUSTIFY
from reportlab.lib.pagesizes import A4, landscape, portrait
from reportlab.lib.styles import getSampleStyleSheet, ParagraphStyle, TA_CENTER
from reportlab.platypus import Table, Flowable, SimpleDocTemplate, Paragraph, Spacer, Image, TableStyle, PageBreak
from reportlab.lib import randomtext
from reportlab import platypus
from functions import pdf_functions
from reportlab.lib.units import inch, cm


import os, random


styles = getSampleStyleSheet()
cwd = os.getcwd() + '\\images'
doc = SimpleDocTemplate("salida.pdf",pagesize=A4)


#################            PATH IMAGES       ##############################
generalMontoCreditoDebito = cwd + '\\4.png'
generalNumeroOperacionesCredito = cwd + '\\8.png'
generalEstadisticaDescriptivaGeneral = cwd + '\\8.png'
generalOcupaciones = cwd + '\\8.png'
generalActividades = cwd + '\\8.png'

clusterPoblacion = cwd + '\\8.png'
clusterGeneral = cwd + '\\8.png'
clusterTotalIngresosEgresos = cwd + '\\8.png'
clusterMontoCreditoDebito = cwd + '\\8.png'
clusterPatrimonio = cwd + '\\8.png'

portada = cwd + '\\reportesegmen.jpg'

#############   CONFIGURACION      ##################################

ajuste= 0.25
ancho =  700- (700*ajuste)
alto =  450 - (450*ajuste)
x= 80
y= 400
elements = []
t = ParagraphStyle('parrafos', 
                           alignment = TA_CENTER,
                           fontSize = 16,
                           fontName="Times-Roman")

p = ParagraphStyle('parrafos', 
                           alignment = TA_JUSTIFY,
                           fontSize = 16,
                           leading=16,
                           fontName="Times-Roman",
                           spaceBefore=10,
                           spaceAfter=10)



texto = 'Posibilidad de texto'
para = Paragraph(texto, p)


##################### FUNCIONES   #####################################
def firsPage(canvas, doc):
    
    page_width, page_height = canvas._pagesize
    canvas.drawImage(portada, 0, 0, width=page_width, height=page_height,
                     preserveAspectRatio=True) 
    
    
    canvas.showPage()
    


########################################################################
######################### IMAGEN #########################


im = Image(generalMontoCreditoDebito , width=ancho, height=alto)
im.hAlign = 'CENTER'
elements.append(im)
#######################################################################
################ PARRAFO ############################################




txt = '<b>Estadisticas general (Generalidades)</b>'
para = Paragraph(txt, t)
elements.append(para)
elements.append(Spacer(1, 12))

txt = """Las estadisticas generales sirve para representar de manera general lo que ocurre con la entidad, es por esto que resultan
tan convenientes a la hora de realizar una inspección detallada de lo que ocurre, es una ventana a la realidad de la entidad.
A continuación tenemos el resumen de 3 variables como lo son, ingresos, egresos y patrimonio"""
para = Paragraph(txt,p)
elements.append(para)
elements.append(Spacer(1, 12))
#########################################################################
############### TABLA ################################################
# Convertion describe (pandas) to array

t = Table(data, 7*[3*cm],8*[0.7*cm])
t.setStyle(TableStyle([('ALIGN',(1,1),(-1,-1),'RIGHT'),
                       
                       ('VALIGN',(0,0),(0,-1),'TOP'),
                       ('TEXTCOLOR',(0,0),(0,-1),colors.blue), 
                       ('TEXTCOLOR',(0,0),(3,0),colors.blue),
                       ('INNERGRID', (0,0), (-1,-1), 0.25, colors.black),
                       ('BOX', (0,0), (-1,-1), 0.25, colors.black),
                       ('ALIGN',(0,0),(3,0),'CENTER')
                       ]))


elements.append(t)
elements.append(Spacer(1, 12))
##########################################################################
txt = """Para poder analizar la información que encontramos en la tabla anterior debemos tener en cuenta que corresponde a realizar 
la sumatoria de los ingresos, egresos y patrimonio de todos los <u>asociados</u>, posteriormente realizar las operaciones estadisticas de
desviación estandar, media, minimo, maximo y separar los datos en cuartiles."""
para = Paragraph(txt,p)
elements.append(para)

#################  VARIABLES TRANSACCIONALES  ###########################
txt = """Las variables transaccionales fueron calculadas por cada asociado de manera individual, identificando de esta manera
monto crédito, monto debito, cantidad crédito y cantidad debito."""
para = Paragraph(txt,p)
elements.append(para)
elements.append(Spacer(1, 12))


################################### TABLA VARIAVLES TX ################
t = Table(data2, 7*[3*cm],8*[0.7*cm])
t.setStyle(TableStyle([('ALIGN',(1,1),(-1,-1),'RIGHT'),
                       
                       ('VALIGN',(0,0),(0,-1),'TOP'),
                       ('TEXTCOLOR',(0,0),(0,-1),colors.blue), 
                       ('TEXTCOLOR',(0,0),(-1,0),colors.blue),
                       ('INNERGRID', (0,0), (-1,-1), 0.25, colors.black),
                       ('BOX', (0,0), (-1,-1), 0.25, colors.black),
                       ('ALIGN',(0,0),(3,0),'CENTER')
                       ]))


elements.append(t)
elements.append(Spacer(1, 12))


doc.build(elements,onFirstPage=firsPage)